@*@model MedicalExaminations.Models.Organization*@

@{
    ViewData["Title"] = "Просмотр карточки отчета";
}

@section style {
    <link rel="stylesheet" href="~/css/report-card.css" />
}

<a href="javascript:history.back()"><img class="icon page-top-left" src="~/img/arrow-back.png" /></a>

<div class="wrapper">
    <h1 class="header-label">2022</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="slider-container">
                <div class="slider" id="slider">
                    <div class="slide">
                        <h2>Тюмень</h2>
                        <fieldset>
                            <div class="illnesses">
                                <div class="form-group">
                                    <label class="control-label labelLocName">Болезнь-1</label>
                                    <input name="locs" type="number" hidden value="1" />
                                    <input class="form-control cost" name="costs" type="text" readonly value="1" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label labelLocName">Болезнь-2</label>
                                    <input name="locs" type="number" hidden value="2" />
                                    <input class="form-control cost" name="costs" type="text" readonly value="2" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label labelLocName">Болезнь-3</label>
                                    <input name="locs" type="number" hidden value="3" />
                                    <input class="form-control cost" name="costs" type="text" readonly value="3" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label labelLocName">Болезнь-4</label>
                                    <input name="locs" type="number" hidden value="4" />
                                    <input class="form-control cost" name="costs" type="text" readonly value="4" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label labelLocName">Болезнь-5</label>
                                    <input name="locs" type="number" hidden value="5" />
                                    <input class="form-control cost" name="costs" type="text" readonly value="5" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label labelLocName">Болезнь-5</label>
                                    <input name="locs" type="number" hidden value="5" />
                                    <input class="form-control cost" name="costs" type="text" readonly value="5" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label labelLocName">Болезнь-5</label>
                                    <input name="locs" type="number" hidden value="5" />
                                    <input class="form-control cost" name="costs" type="text" readonly value="5" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="locCost">
                            <label>Затраты: </label>
                            <input name="cost" type="number" readonly placeholder="Стоимость"/>
                        </div>
                    </div>
                </div>
                <button class="prev-button" aria-label="Посмотреть предыдущий слайд"><img src="~/img/arrow-back.png" alt="prev" /></button>
                <button class="next-button" aria-label="Посмотреть следующий слайд"><img src="~/img/arrow-next.png" alt="next" /></button>
            </div>
        </div>
    </div>
</div>
<div class="totalCost">
    <label>Затраты по всем населенным пунктам: <input name="cost" type="number" readonly placeholder="Общая сумма" /></label>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}