* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    width: 60px;
    height: 50px;
}

.page-top-left { 
    top: 0;
    left: 0;
    display: block;
}

body {
    background-color: #BFCDE0;
    font-size: 2rem;
    overflow : hidden;
}

.header-label {
    position: absolute;
    top: -80px;
    left: 0px;
    font-size: 3.2rem;
    font-weight: 500;
    color: #5D5D81;
}

#edit-button {
    position: absolute;
    top: -80px;
    right: 10px;
    cursor: pointer;
}

.wrapper {
    position: relative;
    background-color: rgba(93, 93, 129, 0.3);
    width: 86%;
    margin: calc((100vh - 550px) / 2) auto;
    padding: 3.2rem 3.2rem 5rem 3.2rem;
    border-radius: 50px;
}

fieldset {
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #dadee7 11.5em, white 0%);
    overflow: hidden;
    font-size: inherit;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(93, 93, 129, 0.5);
}

.form-group:last-child {
    border-bottom: none;
}

.text-danger {
    display: inline-block;
    font-size: 16px;
    color: red;
}

.text-danger span {
    position: relative;
    margin-left: 33px;
}

input, button, select {
    font-size: 28px;
    padding: 0 5px;
    border: none;
}

input[type="text"] {
    width: calc(100% - 13.5em);
    outline: none;
}

input[type="date"] {
    outline: none;
    margin-right: calc(100% - 13.5em - 240px);
}

select {
    width: calc(100% - 13.5em);
    appearance: none;
    outline: none;
}

label {
    display: inline-block;
    float: left;
    width: 10.5em;
    margin-left: 2rem;
}

hr {
    color: rgba(93, 93, 129, 0.3);
    margin: 0 -2rem;
}

.btn {
    position: absolute;
    right: 5rem;
    bottom: 0.5rem;

    padding: 0.5rem;
    font-size: 2.5rem;
    background-color: #BFCDE0;
    color: #5D5D81;
    border-radius: 10px;
    cursor: pointer;
}

#submit-button {
    position: absolute;
    right: 5rem;
    bottom: 0.5rem;
    cursor: pointer;
    background: none;
    display: none;
}

[readonly], .readonly {
    color: gray;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: calc(35% - 260px + 25px);
    font-weight: 400;
    color: #5D5D81;
    font-size: 32px;
}

#LocationsWithCost {
    width: 525px;
    height: 200px;
    overflow: hidden;
    margin-left: calc(35% - 260px);
}

#LocationsWithCost .locations {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#LocationsWithCost select {
    width: 336px;
    padding: 0;
    margin-left: 50px;
    background: none;
}

#LocationsWithCost .form-group {
    border-bottom: 2px solid rgba(93, 93, 129, 0.3);
}

#LocationsWithCost [readonly],
#LocationsWithCost .readonly {
    color: black;
}

#addLocation {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 208px;
    left: calc(35% - 260px + 575px);
}

#addLocation input, #addLocation select {
    outline: none;
    width: 200px;
    font-size: 24px;
    margin-top: 10px;
    border-radius: 5px;
}

#addLocation input[type="submit"] {
    background-color: #BFCDE0;
    color: #5D5D81;
    cursor: pointer;
    margin-top: 15px;
    padding: 2px 0;
}

.buttoDeleteLocation {
    padding: 2px 25px;
    font-size: 24px;
    background-color: #BFCDE0;
    color: #5D5D81;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: calc(35% - 250px + 365px);
}

.selected {
    background-color: #BFCDE0;
}

.selected input {
    background-color: #BFCDE0;
}