body {
    margin: 0;
    padding: 0;
    background-color: #BFCDE0;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #3B3355;
    display: flex;
}

nav a {
    width: 70px;
    display: block;
    border-left: 1px solid #BFCDE0;
    color: #BFCDE0;
    text-decoration: none;
}

nav a:first-child {
    border: none;
}

nav a:first-child img {
    margin: 12px 16px;
}

nav a img {
    width: 40px;
    margin: 16px 16px;
}

nav .registries {
    width: 90%;
    border-left: 1px solid #BFCDE0;
    position: relative;
    display: inline-block;
}

nav .registries .dropbtn {
    width: fit-content;
    padding: 15px 16px;
    color: #BFCDE0;
    border: none;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    background-color: #3B3355;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    width: 200px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    background-color: white;
}

.dropdown-content a:hover {background-color: #ddd;}

.registries:hover .dropdown-content {display: block;}

h1 {
    font-size: 48px;
    color: #3B3355;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    margin-left: 1.67%;
    margin-bottom: 5px;
}

.content {
    width: 96.8%;
    height: 78vh;
    margin: auto;
    display: flex;
}

.content .table {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    overflow-y: auto;
    padding: 1rem;
}

.content .table table {
    font-size: 14px;
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}

table thead th,
table tbody td {
    border: 1px solid lightgray;
}

.content .edit {
    width: 26.53%;
    margin-left: 1%;
}

.content .edit .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22%;
}

.content .edit .buttons a,
.content .edit .buttons form {
    margin: auto;
    width: 60%;
    height: 29%;
}

.content .edit .buttons input {
    width: 100%;
    height: 100%;
    color: #BFCDE0;
    font-size: 24px;
    font-weight: 500;
    background-color: #3B3355;
    border: none;
    border-radius: 8px;
}

input, img {
    cursor: pointer;
}

.selected {
    background-color: gray;
}